.FormActions {
  position: relative;
  text-align: right;
}

.FormActions button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  color: white;
  margin-left: 5px;
}

.FormActions-edit {
  background-color: black;
}

.FormActions-remove {
  background-color: firebrick;
}
