.Priority {
  padding: 5px 10px;
  margin-bottom: 15px;
}

.Priority p {
  margin: 0;
}

.Priority form {
  display: flex;
}

.Priority input[type=text] {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  flex: 3;
  margin-right: 10px;
}

.Priority input[type=submit] {
  border: none;
  background-color: limegreen;
  border-radius: 50%;
  padding: 5px;
  color: white;
  height: 30px;
  width: 30px;
  font-size: 14px;
}

.Priority-content {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}

.Priority-value {
  position: relative;
  top: 42px;
  font-weight: bold;
}

.Priority-plus {
  font-weight: bold;
  color: gold;
  position: relative;
  top: 25px;
  opacity: 0;
}

.animating {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-name: plus-one;
}

@keyframes plus-one {
  to {
    top: 0;
    opacity: 1;
  }
}
