.Priority {
  padding: 5px 10px;
  margin-bottom: 15px;
}

.Priority:last-of-type {

}

.Priority p {
  margin: 0;
}

.Priority-content {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}

.Priority-desc {

}
